@media only screen and (max-width: 1399px) {
    .sidenavs a {
        margin-right: 25px;
        font-size: 15px;

    }

    .btn {
        font-size: 14px;
        max-width: 148px;
        height: 44px;

    }

    .fst-left h1,
    .left-work h2,
    .trust-right h2,
    .personality-tests .section-title,
    .section-title,
    .with-us-sec .with-us-content h2 {
        font-size: 46px;
    }

    .fst-left p {
        font-size: 22px;
        max-width: 284px;
        margin-top: 15px;
        margin-bottom: 26px;
    }

    .btm-cont span {
        max-width: 230px;
    }

    .vecter-right {
        max-width: 440px;
    }

    .left-work .top-head p,
    .trust-right p,
    .personality-tests p,
    .testimonial .slider-card p {
        font-size: 15px;
        line-height: 22px;

    }

    .count {
        font-size: 21px;
        width: 50px;
        height: 50px;
    }

    .count-txt h6 {
        font-size: 16px;

    }

    .personalities-card h4 {
        font-size: 20px;
        line-height: 23px;

    }

    .testimonial .slider-card .review img {
        width: 22px;
        height: 22px;
    }

    .testimonial .slider-card h4 {
        font-size: 20px;
        margin: 6px 0;
    }

    .main-addrs h3 {
        font-size: 19px;

    }

    .rqst-mm ul li a,
    .rqst-mm h4 {
        font-size: 13px;
        line-height: 36px;
    }

    p.copyright {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1024px) {
    .sidenavs a {
        margin-right: 15px;
    }
}

@media only screen and (max-width: 991px) {
    .left-side-bar {
        max-height: inherit;
        margin-bottom: 40px;
    }

    .col-6.text-left.menus {
        width: 80px;
        flex: none;
        max-width: 80px;
        position: absolute;
        right: 15px;
        top: 17px;
    }

    .col-3.text-left.menus {
        width: 50%;
        flex: none;
        max-width: 43%;
        margin-left: auto;
        margin-right: 42px;
    }

    .btn {
        font-size: 13px;
        max-width: 117px;
        height: 37px;
    }

    .sidenavs .closebtn {
        display: block;
        line-height: 25px;
        right: 7px;
        margin: 0;
    }

    ul.menu_navigation {
        display: inline-block;
        width: 100%;
    }

    ul.menu_navigation li,
    ul.top-menu li {
        padding: 0;
        border-bottom: 1px solid #ddddddc7;
    }

    .sidenavs a {
        margin: 0;
    }

    ul.menu-btns li {
        padding: 10px 8px;
        width: 100%;
    }

    li.become-member .btn {
        margin-right: 0;
    }

    span.toggle_menu {
        display: inline-block;
        color: #00bd9b;
        font-size: 30px;
        position: relative;
        right: 0;
        top: 0px;
        float: left;
        margin-left: 15px;
    }

    .sidenavs {
        width: 0;
        position: fixed;
        background: #00bd9b;
        top: 0;
        left: 0;
        display: inline-block;
        overflow-x: hidden;
        /* background: linear-gradient(13deg, rgb(126 195 65) 0%, rgb(191 215 47) 50%, rgb(0 174 239) 100%); */
        height: 100%;
        z-index: 999;
    }

    ul.menu_navigation {
        padding-top: 50px;
    }

    .sidenavs a,
    ul.top-menu a {
        font-size: 16px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        color: #fff;
    }

    .sidenavs .menu-btns a {
        display: block;
        text-align: center;
    }

    .mid_menu_header {
        padding: 20px 0 20px 0;
    }

    .top-brs.for-mob,
    .menu-btns {
        display: block;
    }

    .top-brs.for-desk {
        display: none;
    }

    .top-brs .top-menu {
        display: block;
        border-bottom: 0;
        padding: 40px 0 0;
    }

    li.lst-btn {
        padding: 10px !important;
        text-align: center;
    }

    li.lst-btn a {
        text-align: center;
        justify-content: center;
    }

    .btm-cont span {
        max-width: 170px;
    }

    .header_section .container>.row {
        width: 100%;
    }

    .personality-tests .personality-tests-wrap>.row {
        justify-content: center;
    }

    .counts-m {
        padding: 20px 20px 20px 80px;
    }

    .right-cont h3 {
        font-size: 30.881px;
    }

    .left-icons {
        left: 20px;
    }

    .fst-left h1,
    .left-work h2,
    .trust-right h2,
    .personality-tests .section-title,
    .section-title,
    .with-us-sec .with-us-content h2 {
        font-size: 36px;
    }

    .fst-left p {
        font-size: 18px;
    }

    .personalities-card {
        margin-left: auto;
        margin-right: auto;
    }

    .blog-left-bar {
        grid-column-gap: 20px;
    }

    .result-offer {
        grid-column-gap: 20px;
    }

    .limited-offer {
        width: 50%;
    }

    .limited-offer h4 {
        font-size: 25px;
    }

    .limited-offer h5 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 767px) {
    .cards-main-new {
        height: auto;
        margin-bottom: 50px;
    }

    .details-main h2 {
        font-size: 24px;
    }

    .details-main h3 {

        font-size: 20px;
    }

    .details-main h4 {
        font-size: 18px;
    }

    .col-3.text-left.menus {
        width: 200px;
    }

    .fst-left h1 br {
        display: none;
    }

    .left-icons {
        width: 50px;
        position: static;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 13px;
    }

    .fst-left p {
        max-width: 100%;
    }

    .btm-cont {
        display: flex;
        align-items: center;
    }

    .counts-m {
        padding: 20px;
        text-align: center;
    }

    .trust-right {
        text-align: center;
    }

    .personalities-card {
        margin-bottom: 40px;
    }

    .personality-tests {
        padding-bottom: 0;
    }

    .testimonial .slider-card {
        margin: 0 13px;
        padding: 14px;
    }

    .with-us-sec .with-us-content h2 {
        font-size: 30px;
    }

    .btm-cont {
        justify-content: center;
    }

    .fst-left,
    .left-work h2,
    .left-work .top-head p,
    .read-btn {
        text-align: center;
    }

    section.first-sc {
        padding: 130px 0 40px 0;
        position: relative;
    }

    .vecter-right {
        max-width: 60%;
        margin: 40px auto;
    }

    .right-work {
        max-width: 70%;
    }

    .trust-left {
        max-width: 75%;
        margin: 0 auto 40px;
    }

    .personality-tests-wrap {
        margin: 40px 0 0;
    }

    .personalities-card img {
        max-width: 80%;
    }

    .sc-trd .container .row>.col-sm-4 {
        flex-basis: 100% !important;
        max-width: 100%;
        margin: 0 0 20px;
    }

    .with-us-sec .with-us-content h2 {
        font-size: 6vw;
    }

    .header_section .container>.row {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 0;
    }

    .header_section .container>.row .col-3 {
        max-width: 100%;
        padding: 0;
    }

    .header_logo img {
        max-width: 180px;
        width: 100%;
    }

    .mid_menu_header .col-6.text-left.menus {
        max-width: 100%;
    }

    .data-main-wrapper {
        grid-template-columns: 1fr;
    }

    .content .list {
        width: 40%;
        margin-right: 25px;
    }

    .sub-banner {
        padding: 100px 0;
    }

    .blog-left-bar {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 25px;
    }

    section.blog-sec.detail-page .bloag-main-wrapper {
        grid-template-columns: 1fr 30%;
        grid-column-gap: 20px;
    }

    .wonder-blog h3,
    .categeries h4,
    .instagram-post h4 {
        font-size: 16px;
        margin: 10px 0;
        word-break: break-all;
    }

    .wonder-blog p {
        font-size: 14px;
    }

    section.blog-sec.detail-page .blog-bar .img-bar {
        height: 350px;
    }

    .instagram-post ul img {
        height: 75px;
    }

    .limited-offer {
        width: 100%;
    }
}

@media only screen and (max-width: 575px) {

    .form-main [type="radio"]:checked+label:before,
    .form-main [type="radio"]:not(:checked)+label:before {
        width: 25px;
        height: 25px;

    }

    .form-main [type="radio"]:checked+label:after,
    .form-main [type="radio"]:not(:checked)+label:after {
        width: 15px;
        height: 15px;
        top: 5px;
        left: 5px;
    }

    .form-main p {
        height: 43px;
    }

    .check-count-main h3 {
        font-size: 18px;

    }

    .form-main h4 {
        font-size: 15px;
    }

    section.accord-main h2 {
        font-size: 28px;

    }

    section.cards-mm {
        padding: 50px 0 70px 0;
    }

    .progress-main {
        margin-bottom: 30px;
    }

    .fst-left h1,
    .left-work h2,
    .trust-right h2,
    .personality-tests .section-title,
    .section-title,
    .with-us-sec .with-us-content h2 {
        font-size: 36px;
    }

    .btns-top {
        display: none;
    }

    .header_logo {
        width: 120px;
    }

    .col-3.text-left.menus {
        display: none;
    }

    section.first-sc {
        padding: 88px 0 40px 0;
    }

    .fst-left h1,
    .left-work h2,
    .trust-right h2,
    .personality-tests .section-title,
    .section-title,
    .with-us-sec .with-us-content h2 {
        font-size: 28px;
    }

    #accordion .card-header button i {
        right: 17px;

    }

    .curve-shape {
        height: 80px;
    }

    .tabs-data .content {
        display: block;
    }

    .content .list {
        width: 100%;
        margin-right: 0;
        border-right: 0;
        padding-right: 0;
        border-bottom: 2px solid #0908086b;
        padding-bottom: 30px;
    }

    .content .slider {
        left: 16%;
        width: 100%;
        max-width: 70%;
        margin: 0 auto;
        transform: translateX(-50%);
    }

    .content .list label {
        text-align: center;
        padding-left: 0;
    }

    .content .text-content {
        width: 100%;
    }

    .data-main-wrapper .imgg {
        height: 210px;
    }

    .cractor-data h4 {
        font-size: 19px;
    }

    .cractor-data h5 {
        font-size: 13px;
        margin-bottom: 10px;
    }

    .cractor-data p {
        font-size: 14px;
    }

    .blog-left-bar {
        grid-template-columns: 1fr;
    }

    .thought h2 {
        font-size: 22px;
    }

    section.blog-sec.detail-page .bloag-main-wrapper {
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 50px;
    }

    textarea.blog-cmnt-input {
        height: 125px;
    }

    input.blog-cmnt-input {
        width: 100%;
    }

    input.blog-cmnt-input[type="text"] {
        margin-bottom: 35px;
    }

    .instagram-post ul img {
        height: 100px;
    }

    section.blog-sec {
        margin-bottom: 30px;
    }

    section.blog-sec.detail-page .blog-left-bar {
        grid-row-gap: 15px;
    }

    .wonder-blog h3,
    .categeries h4,
    .instagram-post h4,
    .post-comment h4 {
        font-size: 19px;
        margin: 0 0 15px 0;
    }

    .creditCardInfo form {
        margin: 20px 0px;
    }

    .cartSummeryHeading {
        margin-bottom: 35px;
    }

    .result-offer {
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }

    .more-result {
        margin-top: -84px;
    }

    .limited-offer {
        width: 64%;
    }

    .cartSummeryHeading h4 {
        font-size: 20px;
    }

    .main-result-wrapper {
        padding: 30px 10px;
    }

    .paypal {
        padding: 20px 0px 22px;
    }
}


@media only screen and (max-width: 359px) {}