html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
    font-family: 'Raleway', sans-serif;
}

body {
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;


}

span,
a,
input,
button,
li {}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    font-size: 16px;
    color: #333333;
    font-weight: 400;
}

a,
input,
select,
textarea {
    margin: 0;
    outline: medium none;
    padding: 0;
}

html {}

img,
fieldset {
    border: 0 none;
}

a {
    border: medium none;
    outline: medium none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

.clear {
    clear: both;
}


img {
    image-rendering: -webkit-optimize-contrast;
}

.header_section .container {
    width: 100%;
    max-width: 1280px;
}

.container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

/* Header css */

header.header_section {
    position: absolute;
    display: block;
    width: 100%;
    float: left;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
}

.mid_menu_header {
    position: relative;
    padding: 15px 0;
}

.header_logo img {
    width: 177px;
    height: auto;
}

.menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-brs .top-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 2px solid #f9f9f9;
    padding-bottom: 15px;
}

.header_navigation {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: flex-start;
    padding: 0;
}

.sidenavs {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidenavs .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: none;
}

.menu_navigation,
.menu-btns {
    display: flex;
    align-items: center;
}

.sidenavs a {
    /* font-size: 16px; */
    /* line-height: 14px; */
    /* color: #333333; */
    /* font-weight: 600; */
    /* text-align: center; */
    margin-right: 30px;
    padding: 8px 0;
    color: #000;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

li.lst-btn a:last-child {
    margin-right: 0;
}

ul.menu_navigation li a {
    border-bottom: 2px solid transparent;
}

ul.menu_navigation li a:hover {
    border-bottom: 2px solid #928275;
}

li.lst-btn a {
    border: 1px solid #17a3df !important;
    background: #17a3df;
    padding: 10px 20px;
    color: #fff;
    border-radius: 26px;
    box-shadow: 1px 0px 9px #00000047;
}

li.lst-btn a:hover {
    background: transparent;
    color: #17a3df;
}

span.toggle_menu {
    display: none;
}

.top-menu img {
    width: 20px;
    margin-right: 10px;
}

ul.top-menu a {
    font-size: 16px;
    line-height: 14px;
    color: #000000;
    font-weight: 400;
    margin-right: 40px;
}

li.become-member .btn {
    border-radius: 8px;
    background-color: #ff390a;
    border: 2px solid #ff390a;
    color: #fff;
    font-weight: 400;
    padding: 8px 5px;
    margin-right: 10px;
}

li.become-member .btn:hover,
.get-started-btn a:hover {
    background-color: #fff;
    border: 2px solid #ff390a;
    color: #ff390a;
}

li.free-trial .btn:hover {
    background-color: #ff390a;
    color: #fff;
}

li.free-trial .btn {
    border-radius: 8px;
    background-color: #fff;
    border: 2px solid #ff390a;
    color: #ff390a;
    font-weight: 400;
    padding: 8px 30px;
    margin-right: 0;
}

.for-mob {
    display: none;
}




body {
    background: url("../images/body-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    color: #fff;
    text-align: right;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border-radius: 10px;
    border: 2px solid #00bd9b;
    background: #00bd9b;
    max-width: 138px;
    width: 100%;
    display: inline-flex;
    text-align: center;
    transition: all .3s;
    justify-content: center;
    align-items: baseline;
    height: 40px;
    align-items: center;
}

a.btn.btns-border {
    color: #00bd9b;
    background: transparent;
}

a.btn.dark-btns {
    max-width: 169px;
    background: #000;
    border-color: #000;
    margin-left: 7px;
}

a.btn.btns-border:hover,
a.btn.dark-btns:hover {
    background: #00bd9b;
    color: #fff;
}

.footer {
    background: #241F20;
    padding: 10px 0;
}

.main-addrs h3 {
    color: #FFF;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.counter {
    animation-duration: 1s;
    animation-delay: 0s;
}

p.copyright {
    color: #DADADA;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 100px;
    margin-bottom: 0;
}

.rqst-mm ul li a {
    color: #FAFAFA;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-transform: capitalize;
}

.rqst-mm h4 {
    color: #FAFAFA;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-transform: capitalize;
}

.rqst-mm ul li a:hover {
    color: #00bd9b;
}

/*
.first-sc .container,
.sec-tw .container{
max-width: 1380px;
}*/
section.first-sc {
    padding: 130px 0 120px 0;
    position: relative;
}

section.first-sc .row {
    align-items: center;
}

.vecter-right img {
    width: 100%;
}

.fst-left h1 {
    color: #00BD9B;
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.fst-left p {
    color: #241F20;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 375px;
    margin-top: 13px;
    margin-bottom: 27px;
}

/*
.fst-left {
max-width: 490px;
margin-left: auto;
margin-right: auto;
}
*/
.btm-cont span img {
    width: 100%;
}

.btn:hover {
    color: #fff;
    background: #000;
}

.btm-cont span {
    max-width: 300px;
    display: inline-block;
    margin-left: 20px;
}

.vecter-right {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.curve-shape svg {
    width: 100% !important;
    height: 100px;
    max-width: 100%;

}

.curve-shape {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 120px;
    display: none;
}

.curve-shape img {
    height: 100%;
    width: 100%;
}

.right-work img {
    width: 100%;
}

.right-work {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.sec-tw {
    /* background: #fff;*/
    margin-top: -1px;
    padding-bottom: 80px;
}

.left-work h2 {
    color: #00BD9B;
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.count {
    color: #00BD9B;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #00BD9B;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: -18px;
}

.count-txt h6 {
    color: #241F20;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.count-txt p {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 418px;
}

.list-itm-main {
    position: relative;
    padding-left: 75px;
    margin-bottom: 75px;
}

.left-work .top-head p {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.top-head {
    max-width: 510px;
    margin-bottom: 50px;
    margin-top: 16px;
}

/*
.left-work {
max-width: 510px;
margin-left: auto;
margin-right: auto;
}*/
.counts-m {
    /* background: #F2FFFC; */
    padding: 20px 20px 20px 110px;
    border-radius: 18px;
    height: 100%;
    position: relative;
}

.right-cont h3 {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 40.881px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
}

.sc-trd {
    /* background: #fff;*/
    padding-bottom: 110px;
}

.right-cont p {
    color: #606060;
    font-family: 'Raleway', sans-serif;
    font-size: 13.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}

.left-icons img {
    width: 100%;
}

.left-icons {
    width: 50px;
    position: absolute;
    top: 31px;
    left: 30px;
}

/*
.sc-trd .container {
width: 95%;
}
*/
.rectangle-box {
    background: #ffe1b1;
    padding: 40px;
    border-radius: 33px;
    box-shadow: 0px 0px 16px #00000029;
}

section.testimonial .slick-track {
    padding-bottom: 18px;
    padding-top: 18px;
}

.trust-right p {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.trust-right h2 {
    color: #00BD9B;
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.trust-right {
    max-width: 510px;
    margin-left: auto;
    margin-right: auto;
}

.trust-left img {
    width: 100%;
}

.trust-left {
    max-width: 500px;
    /* margin-left: auto; */
    margin-right: auto;
}

.trust-sc {
    /*   background: #ffff;*/
    padding-bottom: 20px;
}

.trust-sc .row {
    align-items: center;
}

ul.menu_navigation li:last-child a {
    margin-right: 0;
}

/*********/
.with-us-sec {
    padding: 50px 0;
    background: #00BD9B;
}

.with-us-sec .with-us-content {
    text-align: center;
}

.with-us-sec .with-us-content h2 {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 22px;
}

a.btn.btns-white {
    background: #fff;
    color: #000;
    height: 43px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

a.btn.btns-white:hover {
    background: #000;
    color: #fff;
}

.rqst-mm ul li {
    display: inline-block;
    margin: 5px;
}



.testimonial {
    padding: 40px 0 80px;
    width: 100%;
    position: relative;
    /* background: #fff;*/
    margin-top: -1px;
}

.section-title {
    color: #2FB098;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin: 0px 0 30px;
}

.time-btn {
    text-align: center;
    margin-top: 88px;
}

.testimonial .slider-card {
    text-align: center;
    border-radius: 20px;
    background: #F2FFFC;
    margin: 0 20px;
    padding: 30px;
    box-shadow: 0px 0px 16px #00000029;
    background: #ffe1b1;
}

.testimonial .slider-card figure {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.testimonial .slider-card figure img {
    max-width: 100%;
}

.testimonial .slider-card .review {
    display: flex;
    align-items: center;
    justify-content: center;
}

p.para-mm {
    text-align: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 60px;
}

.testimonial .slider-card .review img {
    width: 28px;
    height: 28px;
}

.testimonial .slider-card h4 {
    color: #000;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin: 10px 0;
}

.testimonial .slider-card p {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    text-transform: capitalize;
}

.testimonial ul.slick-dots li button::before {
    font-size: 60px;
    color: #DBDBDB;
    opacity: 1;
}

.testimonial ul.slick-dots li.slick-active button::before {
    font-size: 80px;
    color: #929090;
}

.testimonial ul.slick-dots {
    bottom: -30px;
}

/*
.personality-tests .container {
width: 95%;
}*/
.personality-tests p {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    text-transform: capitalize;
    margin-bottom: 22px;
    max-width: 817px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

section.personality-tests h2 {
    color: #00BD9B;
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 13px;
}

.btns-top {
    display: flex;
}

.personality-tests {
    padding: 70px 0 70px;
    /* background: #f8debe8f;*/
    position: relative;
}

.personality-tests .section-title {
    text-align: center;
    margin: 0 0 20px;
}

.personality-tests-wrap {
    margin: 90px 0 0;
}

.testimonial .slick-prev,
.testimonial .slick-next {
    display: none !important;
}

.personalities-card {
    text-align: center;
}

.personalities-card h4 {
    color: #000;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin: 0 0 20px;
    max-width: 324px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
}

.personalities-card img {
    width: 100%;
}

.personalities-card {
    /* padding: 0 30px; */
    max-width: 300px;
}

.personality-tests-wrap .col-lg-4.col-md-6:nth-child(2) .personalities-card {
    margin-left: auto;
    margin-right: auto;
}

.personality-tests-wrap .col-lg-4.col-md-6:nth-child(3) .personalities-card {
    margin-left: auto;
}

.curve-two img {
    width: 100%;
}

.curve-two {
    position: absolute;
    left: 0;
    top: -1px;
    right: 0;
    height: 140px;
}

.rqst-mm ul {
    text-align: center;
}

.sub-banner {
    padding: 150px 0 120px;
    position: relative;
}

.sub-banner .fst-left {
    text-align: center;
}

.sub-banner .fst-left p {
    max-width: 100%;
}


/********/


.menu-drawer li {
    position: relative;
}

section.details-main {
    padding: 30px 0 100px 0;
    /*background: #fff;*/
    margin-top: -1px;
}

.menu-drawer li ul {
    visibility: hidden;
    height: 0;
    min-width: 100%;
    opacity: 0;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.menu-drawer li ul.toggled {
    visibility: visible;
    opacity: 1;
    height: auto !important;
}

.column-menu-right ul li a {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    text-transform: capitalize;
    transition: all .3s;
}

a.has-drop>i {
    position: relative;
    top: -2px;
    left: 0;
    margin-right: 5px;
}

.menu-drawer li a {
    padding: 12px 0;
    display: block;
    border-bottom: 1px solid #dddddda8;
}

#menu-drawer ul ul {
    padding-left: 12px;
}

.left-side-bar {
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow: auto;
}

.details-main h2 {
    margin: 40px 0 30px 0;
}

.details-main h3 {
    margin-bottom: 30px;
    margin-top: 30px;
}

.details-main h4 {
    margin-bottom: 30px;
    margin-top: 30px;
}

.details-main .intp-btn {
    text-align: left;
}

.details-main .intp-btn .btn {
    max-width: max-content;
}

div#meaning-sc,
div#ntp-main,
div#personality-growth {
    margin-top: 40px;
}

.column-menu-right ul li a:hover {
    opacity: .8;
    cursor: pointer;
    color: #00bd9b !important;
}

ul.explore-typs {
    margin-top: 30px;
}

.right-side-content p,
.right-side-content ul li {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    text-transform: capitalize;
}

.right-side-content ul li {
    list-style-type: circle;
}

.right-side-content ul {
    padding-left: 18px;
}

section.sub-banner.theory-banner .fst-left p {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    text-transform: capitalize;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.banner-btnss {
    display: flex;
    justify-content: center;
}

.banner-btnss a {
    margin: 5px;
}

section.cards-mm {
    /*background: #fff;*/
    padding: 50px 0 100px 0;
    margin-top: -1px;
    border-bottom: 1px solid #dddddd54;
}

.cards-main-new {
    text-align: center;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 0px 7px #00000012;
    background: #ffe1b1;
    height: 100%;
    position: relative;
}

.cards-icon {
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 50%;
    border: 3px solid #ffe1b1;
    position: absolute;
    top: -31px;
    left: 50%;
    transform: translateX(-50%);
    color: #efcc93;
}

.cards-main-new h3 {
    color: #000;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin: 25px 0 15px 0;
}

.cards-main-new p {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    text-transform: capitalize;
}

.bottom-texts h4 {
    text-align: center;
    max-width: 600px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.bottom-texts {
    margin-top: 40px;
}


.form-main [type="radio"]:checked,
.form-main [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.form-main [type="radio"]:checked+label,
.form-main [type="radio"]:not(:checked)+label {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;

}

.form-main [type="radio"]:checked+label:before,
.form-main [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background: #fff;
}

.form-main [type="radio"]:checked+label:after,
.form-main [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 40px;
    height: 40px;
    background: #f8eac5;
    position: absolute;
    top: 8px;
    left: 7px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.form-main [type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.form-main [type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.form-main p {
    margin: 0;
    position: relative;
    width: 20%;
    height: 75px;
}

.form-main form {
    display: flex;
    position: relative;
    width: 70%;
    padding: 0 10px;
}

p.rd-one label::before {
    background: #72a3c7 !important;
}

p.rd-two label::before {
    background: #93bddc !important;
}

p.rd-three label::before {
    background: #e2e2e2 !important;
}

p.rd-four label::before {
    background: #b3dbd7 !important;
}

p.rd-five label::before {
    background: #84c5be !important;
}

.form-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.form-main h4 {
    font-size: 18px;
    font-weight: 600;
}

.check-count-main h3 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 25px;
}

section.personality-count {
    padding: 70px 0 70px 0;
    /*background: #fff;*/
}

.progress-bar {
    background: #00bd9b;
}

.progress-main {
    max-width: 700px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
}

.check-count-main {
    border-bottom: 4px solid #f8eac5;
    padding: 30px 0;
    margin-bottom: 30px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.next-btns {
    text-align: center;
    margin-top: 30px;
}

section.accord-main {
    padding: 70px 0;
}

#accordion .card-header {
    padding: 0;
    background: transparent;
}

#accordion .card-header button {
    border: 0;
    width: 100%;
    text-align: left;
    padding: 15px 40px 15px 15px;
    color: #000;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    outline: 0;
    box-shadow: none;
    cursor: pointer;
    position: relative;
}

#accordion .card-header button i {
    position: absolute;
    top: 12px;
    right: 30px;
    font-size: 24px;
}

div#accordion .card {
    background: #ffe1b1;
    margin-bottom: 20px;
    border: 0;
    box-shadow: 0px 0px 7px #00000012;
}

section.accord-main h2 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 50px;
}

#accordion .card-header button[aria-expanded="true"] i {
    transform: rotate(180deg);
}

/*  */
a.heading-one {
    font-size: 19px !important;
}


/* type */
.persnlty.bg {
    text-align: center;
}

.persnlty.bg img {
    width: 100%;
    max-width: 600px;
}

.container .topic {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.content input {
    display: none;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content .list {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20%;
    margin-right: 50px;
    border-right: 2px solid #0908086b;
    padding-right: 15px;
}

.content .list label {
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    font-size: 17px;
    font-weight: 600;
    color: #00bd9b;
    padding-left: 25px;
    transition: all 0.5s ease;
    z-index: 10;
}

#home:checked~.list label.home,
#blog:checked~.list label.blog,
#help:checked~.list label.help,
#code:checked~.list label.code,
#about:checked~.list label.about {
    color: #22272C;
}

.content .slider {
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 90%;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: linear-gradient(13deg, rgb(0 189 155) 0%, rgb(247 228 195) 100%);
    -webkit-animation: pulse 1.7s infinite;
    box-shadow: 0 0 0 0 rgba(101, 55, 143, 0.25);
}

@-webkit-keyframes pulse {
    0% {
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }

    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(0, 0, 0, 0);
    }

    100% {
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

#home:checked~.list .slider {
    top: 0;
}

#blog:checked~.list .slider {
    top: 60px;
}

#help:checked~.list .slider {
    top: 120px;
}

#code:checked~.list .slider {
    top: 180px;
}

#about:checked~.list .slider {
    top: 240px;
}

.content .text-content {
    width: 80%;
    height: 100%;
    color: rgba(255, 255, 255, 0.7);
}

.content .text {
    display: none;
}


.content .text-content .home {
    display: block;
}

#home:checked~.text-content .home,
#blog:checked~.text-content .blog,
#help:checked~.text-content .help,
#code:checked~.text-content .code,
#about:checked~.text-content .about {
    display: block;
}

#blog:checked~.text-content .home,
#help:checked~.text-content .home,
#code:checked~.text-content .home,
#about:checked~.text-content .home {
    display: none;
}

.content .list label:hover {
    color: rgb(0 189 155);
}

.content .list label {
    margin: 0 !important;
}

img {
    width: 100%;
    max-width: 100%;
}

.data-main-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.data-main-wrapper .imgg img {
    width: 100%;
    max-width: 190px;
    height: 100%;
    object-fit: contain;
}

.data-main-wrapper .imgg {
    text-align: center;
}

.cractor-data {
    text-align: center;
    margin-top: 25px;
}

.cractor-data h4 {
    color: #00bd9b;
}

.cractor-data h5 {
    font-size: 16px;
    color: #949292;
    margin-bottom: 15px;
}

.data-main-wrapper .tabs-data {

    padding: 20px;
}

.data-main-wrapper .imgg {
    height: 280px;
}

.left-side-bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f8e5c4;
}

.left-side-bar::-webkit-scrollbar {
    width: 12px;
    background-color: #f8e5c4;
}

.left-side-bar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #f7dcbe;
}

.cractor-data h4 {
    margin-bottom: 15px;
    position: relative;
}

.cractor-data h4:after {
    display: inline-block;
    border-radius: 10px;
    position: absolute;
    content: '';
    width: 40%;
    height: 100%;
    padding: 22px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 0;
    opacity: 0;
    transition: .5s;
    z-index: -1;
}

.cractor-data h4:hover:after {
    left: 50%;
    top: 50%;
    opacity: 1;
    background: linear-gradient(13deg, #8ed7ca 0%, rgb(247 228 195) 100%);
    right: 0;
}

.cractor-data h4:hover {
    color: #fff;
}

section.tab-sec {
    margin: 0 0 90px 0;
}

/* blog */

.blog-left-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 45px;
    grid-row-gap: 40px;
}

p {
    margin: 0;
}

.author-nm span i,
.blog-timedt span i {
    font-size: 16px;
    color: #878787;
    margin-right: 10px;
}

.author-nm,
.blog-timedt {
    display: flex;
    align-items: baseline;
    margin-bottom: 13px;
}

.author-nm .text,
.blog-timedt p {
    font-size: 13px;
    font-style: italic;
    color: #878787;
}

.contect-bar {
    margin-top: 15px;
}

.thought h2 {
    font-size: 24px;
    font-weight: 700;
    color: #464646;
}

.author-nm a {
    position: relative;

}

.author-nm a:after {
    position: absolute;
    content: '';
    left: 0;
    width: 0%;
    height: 1px;
    background: #00BD9B;
    bottom: 0;
    transition: .3s;
}

.author-nm a:hover:after {
    width: 100%;
}

.blog-bar {
    position: relative;
}

span.tag-shape img {
    width: 140px;
    height: 43px;
    opacity: 1;
    filter: drop-shadow(2px 4px 6px grey);
}

span.tag-shape {
    position: absolute;
    transform: translateY(-50%);
    top: 5%;
    left: -7px;
    width: auto;
}

span.tag-shape p {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 55%;
    top: 50%;
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    width: 100%;
}

.blog-bar .img-bar img {
    height: 100%;
    object-fit: cover;
}

.blog-bar .img-bar {
    height: 290px;
}

.blog-bar video {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
}

section.blog-sec {
    margin-bottom: 100px;
}

/* blog detail */

section.blog-sec.detail-page .blog-left-bar {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 45px;
    grid-row-gap: 40px;
}

section.blog-sec.detail-page .bloag-main-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 0px;
}

section.blog-sec.detail-page .blog-bar .img-bar {
    height: 430px;
}

section.blog-sec.detail-page .detail-user {
    display: flex;
}

section.blog-sec.detail-page .blog-timedt {
    margin-left: 15px;
}

.thought p {
    margin-bottom: 20px;
}

.wonder-blog h3,
.categeries h4,
.instagram-post h4,
.post-comment h4 {
    font-weight: 700;
    color: #000000a3;
    font-size: 25px;
    margin: 15px 0;
}

.categeries {
    margin: 25px 0;
}

.categeries ul li a {
    font-size: 15px;
    font-style: italic;
    color: #858585;
    position: relative;
}

.categeries ul li {
    margin-bottom: 15px;
}

.categeries ul li a:after {
    position: absolute;
    content: '';
    left: 0;
    width: 0%;
    height: 8px;
    bottom: 0;
    transition: .3s;
    z-index: -1;
    background: linear-gradient(13deg, #8ed7ca 0%, rgb(247 228 195) 100%);
}

.categeries ul li a:hover:after {
    width: 100%;
    background: linear-gradient(13deg, #8ed7ca 0%, rgb(247 228 195) 100%);
}

.share-post {
    display: flex;
    align-items: baseline;
}

.share-post i.fa.fa-share {
    font-size: 14px;
    margin-left: 4px;
    color: grey;
}

.share-icon-social ul,
.social-icon {
    display: flex;
    align-items: center;
}

.share-icon-social a {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    font-size: 18px;
    transition: .5s;
}

a.facebk {
    color: #4267B2;
    border-color: #4267B2;

}

a.insta {
    color: #d62976;
    border-color: #d62976;

}

a.twiter {
    color: #00acee;
    border-color: #00acee;
}

a.linkd {
    color: #0072b1;
    border-color: #0072b1;
}

.social-icon {
    margin-bottom: 25px;
    margin-top: 10px;
}

.share-post {
    margin-right: 15px;
}

a.facebk:hover {
    background: #4267B2;
}

a.insta:hover {
    background: #d62976;
}

a.twiter:hover {
    background: #00acee;
}

a.linkd:hover {
    background: #0072b1;
}

.share-icon-social a:hover {
    color: #fff;
}

.instagram-post ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.instagram-post ul img {
    height: 100px;
    object-fit: cover;
}

.author-nm .text {
    text-transform: capitalize;
}

.blog-cmnt-input {
    background: transparent;
    padding: 10px;
    border: 1px solid gray;
    outline: 0;
    color: #000;
}

textarea.blog-cmnt-input {
    width: 100%;
    margin-bottom: 35px;
}

input.blog-cmnt-input {
    width: 48%;
}

.post-comment form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post-comment ::placeholder {
    color: #000;
    font-size: 14px;
    text-transform: capitalize;
}

.check-box {
    margin: 25px 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

input#blog-check {
    margin-top: 5px;
    margin-right: 10px;
}

.check-box input,
.check-box label {
    cursor: pointer;
}


/*--*/
.detail_video {
    padding-bottom: 15px;
}

/* log in page */

section.login-wrapper {
    padding-bottom: 100px;
}

.login-bar form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 0px #7373734f;
    padding: 90px 30px;
    border-radius: 20px;
    background: #ffffff59;
}

.login-bar form input {
    width: 100%;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #73706b73;
    padding: 0 10px 10px 0;
}

.login-bar form input,
.login-bar form a {
    margin-bottom: 40px;
    display: block;
}

.login-bar ::placeholder {
    color: #5f5f5f;
    font-style: italic;
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: 2px;
}

a.forget-pass {
    text-align: end;
    color: #00bd9b;
    font-style: italic;
    font-size: 16px;
    text-transform: capitalize;
    position: relative;
    transition: .4s;
    margin-bottom: 40px !important;
}

a.forget-pass:hover {
    transform: translateY(-6px)
}

a.btn.input-btn {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    border-radius: 38px;
    box-shadow: 0px 0px 13px #ffffff;
    font-weight: 400;
    margin-bottom: 0;
}

/* check out bar */
.checkOutBar {
    margin: 0 0 100px 0;
}

.billingDetailForm form input,
.billingDetailForm form #select-option {
    width: 100%;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #73706b73;
    padding: 0 10px 10px 0;
    margin-bottom: 40px;
    font-style: italic;
}

.billingDetailForm .fname {
    width: 48%;
}

.billingDetailForm .cname {
    width: 100%;
}

.billingDetailForm form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

select:focus {
    border: 0 !important;
    outline: none !important;
}

select option .billingDetailForm form input::placeholder,
select option,
select {
    color: #5e5e5e;
}

.billingDetailForm label {
    width: 100%;
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
}

.checkOutBar .proCartDetails {
    margin-bottom: 70px;
}

.checkOutRight .proCategeris {
    margin-top: 18px;
    margin-right: 0;
}

.creditCardInfo {
    padding: 20px;
    box-shadow: 0px 0px 5px 0px #7373734f;
    border-radius: 20px;
    background: #ffffff59;
}

.creditCardInfo form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.creditCardInfo form .cr-lebl {
    width: 100%;
    font-size: 14px;
    color: #000;
    font-weight: 500;
}

input.cardNm {
    border: 0;
    background: transparent;
    border-bottom: 1px solid #73706b73;
    padding: 0 10px 10px 0;
    margin-bottom: 40px;
    width: 100%;
}

input.expriydt {
    width: 100%;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #73706b73;
    padding: 0 10px 10px 0;
    margin-bottom: 40px;
}

.crData {
    width: 48%;
    margin-top: 10px;
}

a.btnSubmit:hover {
    background: #000;
}

.checkOutBar .bottomBorder {
    margin-top: 90px;
}

.cartSummeryHeading {
    margin-bottom: 50px;
}

.creditCardInfo form {
    margin: 40px 15px;
}

.radio {
    margin: 0.5rem;
}

.radio input[type=radio] {
    position: absolute;
    opacity: 0;
}

.radio input[type=radio]+.radio-label:before {
    content: "";
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.radio input[type=radio]:checked+.radio-label:before {
    background-color: #00bd9b;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type=radio]:focus+.radio-label:before {
    outline: none;
    border-color: #00bd9b;
}

label.radio-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.paypal {
    border-bottom: 1px solid #bdb7a9;
    padding: 20px 15px 22px;
}

span.paypal-img img {
    width: 110px;
}

ul {
    display: flex;
}

.radio.m-0.cr-redio {
    display: flex;
    align-items: center;
}

.radio.m-0.cr-redio ul li img {
    width: 28px;
    margin-right: 5px;
}

label.radio-label {
    margin: 0;
}

ul.cars-option {
    margin-bottom: 7px;
}

.radio.m-0.cr-redio {
    margin-bottom: 20px !important;
}

/* result */

.main-result-wrapper {
    box-shadow: 0px 0px 5px 0px #7373734f;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    background-image: radial-gradient(circle, #f7dcbe 0%, #f2d7d0 100%);
    margin-bottom: 60px;
}

.more-result {
    background-image: radial-gradient(circle, #f7dcbe 0%, #f2d7d0 100%);
    margin-top: -12px;
    padding: 25px;
    position: relative;
    z-index: 9;
    padding-top: 0;
}

.m_scroll_arrows {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);

    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;

    width: 16px;
    height: 16px;
}


.unu {
    margin-top: 1px;
}

.unu,
.doi,
.trei {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;

}

.unu {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;

    animation-direction: alternate;
    animation-delay: alternate;
}

.doi {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;

    animation-delay: .2s;
    animation-direction: alternate;

    margin-top: -6px;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-moz-keyframes mouse-wheel {
    0% {
        top: 1px;
    }

    25% {
        top: 2px;
    }

    50% {
        top: 3px;
    }

    75% {
        top: 2px;
    }

    100% {
        top: 1px;
    }
}

@-o-keyframes mouse-wheel {

    0% {
        top: 1px;
    }

    25% {
        top: 2px;
    }

    50% {
        top: 3px;
    }

    75% {
        top: 2px;
    }

    100% {
        top: 1px;
    }
}

@keyframes mouse-wheel {

    0% {
        top: 1px;
    }

    25% {
        top: 2px;
    }

    50% {
        top: 3px;
    }

    75% {
        top: 2px;
    }

    100% {
        top: 1px;
    }
}

@-webkit-keyframes mouse-scroll {

    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes mouse-scroll {

    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes mouse-scroll {

    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mouse-scroll {

    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

.mouse_scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

.mouse i {
    font-size: 29px;
    color: #049178;
    margin-left: 5px;
}

.more-result h2 {
    font-size: 18px;
    margin-top: 20px;
}

.result-check li span img {
    width: 20px;
}

.result-offer {
    padding: 40px 20px;
    box-shadow: 0px 0px 5px 0px #7373734f;
    border-radius: 10px;
    background: #ffffff59;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

.left-bar-result li {
    margin-bottom: 15px;
}

ul.result-check li {
    width: 100%;
}

.right-bar-amoutchart .main-wrapper h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
}

.right-bar-amoutchart .main-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.limited-offer {
    width: 48%;
    background: linear-gradient(13deg, #8ed7ca 0%, rgb(247 228 195) 100%);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #7373734f;
}

.limited-offer h4 {
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: dimgrey;
    font-style: italic;
}

.amount-show {
    width: 48%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.amount-show .del-item {
    font-size: 25px;
    font-weight: 300;
    color: #fcbe32;
}

p.crunt-price {
    font-size: 25px;
    color: #d80b0b;
}

p.crunt-price span {
    font-size: 35px;
    font-weight: 700;
}

section.result-bar {
    margin-bottom: 100px;
}

section.sub-banner.login-page {
    height: 36vh;
}